body{
    margin: 0;
}
.top-head{
    background-color: #003566;
    height: 80;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    color: white;
    padding-left: 41;

}
.top-head a{
    text-decoration: none;
}

.Logo{
    height: 65;
    width: auto;
}
.SMART{
    color: #8c97a1;
    font-size: 64px; 
    font-family: Inter; 
    font-weight: 800; 
    word-wrap: break-word;
}
