body{
    
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #708090, #6699CC);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* TOP BAR IDK WHAT TO CALL IT */
.top-head{
    background-color: #003566;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    color: white;
    padding-left: 40px;


}
.top-head a{
    display: flex;
    text-decoration: none;

}

.Logo{
    height: 65px;
    width: auto;
    padding-right: 10px;

}

.SMART{
    color: #f1f1f1;
    font-size: 64px; 
    font-weight: bold;
    border-radius: 5px;
}

/* CONTENT SIGN UP AND SIGN IN BUTTONS with LOGO STUFFSSSS*/
.Content{
    margin-top: 200px;
    text-align: center;
}

.Signin, .Signup {
    font-family: 'Lato', sans-serif;
    display: block;
    margin: 50px auto;
    height: 100px;;
    width: 350PX;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px; 
    
    font-size: 60px;
    font-weight: 700px;
    cursor: pointer;
    transition: background-color 0.3s; 
}


.Logo2{  
    height: 150px;
    width: auto;
    padding-right: 10px;
}

.Signin:hover, .Signup:hover{
    background-color: #01680e;
}

/* HEADER AND FONTS STUFF*/
.Welcome{
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 64px; 
    font-weight: bold;
    border-radius: 5px;
}

.Subhead{
    margin-top: -40px;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 24px; 
    font-weight: bold;
    border-radius: 5px;
}

.Already_Account{
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 15px; 
    font-weight: bold;
    border-radius: 5px;
}

.terms{
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 15px; 
    font-weight: bold;
    border-radius: 5px;
}

/* FORM STUFF */
form {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
  }
  
  label {
    font-family: 'lato', sans-serif;
    margin-right: 400px;
    color: #f1f1f1;
    display: block;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  select {
    color: gray;
    text-align: center;
    font-weight: bolder;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    height: 30px;
    width: 50%;
    padding: 1px;
    background-color: #09A75B;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;    
  }
  

.Create_Account{
    font-family: 'lato', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 24px; 
    font-weight: bold;
    border-radius: 5px;
}


button[type="submit"]:hover {
    background-color: #18be6e;
  }