/* MAIN */
#mainrep {
    margin-top: 20px;
    margin-inline: 30px;
    background-color: #7AB2D3;
    border-radius: 20px;
    display: grid;
	  height: 95%;
    
}

table, th  {
  border:1px solid black;
  text-align: center;  
  margin-left: auto;
  background-color: #DFF2EB;
  
   
}
 
 #tr1 .p3, .p1, .p2 {
  text-align: left;
  
}

#tr1 .th2 {
  width: 70%;
}
#tr2 {
  text-align: left;
  padding: 50%;
}
#tr2 .p6, .p4, .p5 {
  text-align: left;
  
}
#tr2 .th3 {
  width: 70%;
}

#exxport {
  display: flex;
  width: 30%;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  background-color: #4A628A;
}