/* MAIN */
#mainrep {
    margin-top: 20px;
    margin-inline: 30px;
    background-color: #7AB2D3;
    border-radius: 20px;
    display: grid;
	height: 95%;
    
}
table, th, td {
  border:1px solid black;
  text-align: center;  
  margin-left: auto;
  background-color: #DFF2EB;
  
  
   
}
th {
	 background-color: white;
	  height: 15%;
}
